 /* Estilos generales */
 body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

/* Estilo para las secciones de toda la pantalla */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Diseño de texto y títulos */
section  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

section p {
    font-size: 1.2em;
    color: #e0e0e0;
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Fondo general de la página */
body {
    background: linear-gradient(135deg, #1a1a1a, #333333);
}